.DS_Store
._.DS_Store*
.metadata
.project
.classpath
.settings
.history
gen
**/*.swp
**/*~.nib
**/build/
**/*.pbxuser
**/*.perspective
*.xcworkspace
*.xcuserdatad
**/target
target
*.iml
project/*.sbt
project/*.ipr
project/*.iml
project/*.iws
project/out
project/*/target
project/target
project/*/bin
project/*/build
project/*/*.iml
project/.idea
project/.idea/*
.idea
.idea/*
.idea/**/*
project/.DS_Store
project/*/.DS_Store
tm.out
tmlog*.log
*.tm*.epoch
out/
provisioning/.vagrant
provisioning/*/.vagrant
provisioning/*/*.known
/sbt/akka-patterns-store/
/daemon/src/build/
*.lock
log/
tmp/
build/
akka-patterns-store/
activator-sbt-*-shim.sbt
/logs/
project/*.properties
src/main/data/load_files.sh~
src/main/data/load_files.sh
src/main/data/cassandra/all.cql
src/main/all.cql
.~all_tables.cql
/bin
.cache
